/*GENERAL*/
body{
  background-color: #77EEDF;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Vampiro One', cursive;
}

/*NAVIGATION BAR*/
.navigation{
  background-color: white;
  height: 55px;
  opacity: .6;
  width: 100%;
}

.navigation:hover{
  opacity: .8;
}

.navigation nav h1{
  font-size: 30px;
  color: black;
  padding-top: 0px;
}

.navigation nav a{
  color: black;
  padding-top: 0px;
}

.navigation nav a:hover{
  color: #003d25;
}

.nav-float-right{
  float: right;
}

/*POKER TABLE*/
#table{
  /*background-color: #003d25;*/
  background: #b4ddb4; /* Old browsers */
  background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 0%, #83c783 0%, #52b152 0%, #008a00 0%, #005700 44%, #002400 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 0%,#83c783 0%,#52b152 0%,#008a00 0%,#005700 44%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 0%,#83c783 0%,#52b152 0%,#008a00 0%,#005700 44%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */

  /*dimensions*/
  width: 700px;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  /*border*/
  border: 20px solid #713826;
  border-radius: 25px;
}
/*BACKDROP END*/

div[id*="pcard"] .popover { left: -95px !important; }
div[id*="dcard"] .popover { left: -105px !important; }

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

h3 {
	margin: 5px 0;
	text-align: center;
}
/*GAME BUTTONS*/
#game {
	border-radius: 5px;
	color: black;
	font-size: 14px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;;
	height: 450px;
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

div #dscore {
	position: absolute;
	bottom: 30px;
}

div #pscore {
	position: absolute;
	bottom: 15px;
}

div #phand, div #dhand {
	font-weight: 700;
	position: absolute;
	top: -125px;
	white-space: nowrap;
	width: 900px;
}

div[class*="card"] {
	background: #FFF;
	border: 6px solid #FFF;
	border-radius: 5px;
	box-shadow: 0 0 1px #000;
	display: inline-block;
	height: 106px;
	margin: 0 5px;
	position: absolute;
	right: 0;
	width: 79px;
}

.down {
	background: #2f5f59 center center no-repeat !important;
}

span.pos-0 {
	left: 0;
	position: absolute;
	top: 0;
}

span.pos-1 {
	bottom: 0;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	position: absolute;
	right: 0;
	transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

span.rank {
	font-size: 18px;
}

span.suit {
	font-size: 22px;
}

.black {
	color: black;
}

.red {
	color: red;
}

#result {
	position: absolute;
	bottom: 0;
}

#actions {
	margin: 15px 0 0 0;
  ext-align: center;
}

input #wager { margin-left: 5px; position: relative; top: 4px }

#money, #money:before {
	border-radius: 5px;
	bottom: 3;
	height: 75px;
	padding: 7px;
	position: absolute;
  right: 825px;
	width: 170px;
}

#money {
	border: 3px solid 
#2f5f59;
}

#money:before {
	content: '';
	opacity: 0.8;
}

	#cash, #bank {
		color: #FFF;
		font-size: 14px;
		margin: 15px;
		position: relative;
	}

#alert {
	margin: 0 auto;
	opacity: 0.95;
	position: relative;
	text-align: center;
	top: 34.5%;
	width: 500px;
	z-index: 0;
}
